<section @fadeInAnimation>
    <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li class="active"><b>Analytics</b></li>
      </ol>

    <div class="form-group">
      <label for="client" class="col-sm-2 control-label" style="margin-top: 3px;font-size: 18px;">Client</label>
      <div class="col-sm-10">
        <select required [ngModel]="null" (change)="setClientId($event)" ngModel #client="ngModel" class="form-control" id="client" name="client">
          <option [ngValue]="null">-- Select Client --</option>
          <option *ngFor="let company of companies" [ngValue]="company.id">
            {{ company.name }}
          </option>
        </select>
      </div>
    </div>

</section>
<!-- <ol class="breadcrumb">
  <li><a routerLink="/home">Home</a></li>
  <li class="active">Analytics</li>
</ol> -->
  


<body>
    <div id="main" style = "margin-bottom: 50px;">
        <h2 style="font-weight: bold;margin-bottom: 10px;margin-top: 80px;font-size: 24px;">Client Analytics</h2>
        <p class="label"></p>
        <svg id="chartsvg" width="700" height="500" style="border: 1px solid #777;">
        </svg>
        
    </div>
    <div id = "userChart">
        <h2 style="font-weight: bold;margin-bottom: 10px;margin-top: 80px;font-size: 24px;">Client Analytics</h2>
      <p class = "userLabel"></p>
      <svg id = "usersvg" width = "700" height ="500" style = "border: 1px solid #777;"></svg>
    </div>
</body>
<style>
  .label {
    position:absolute;
    font-size: 16px;
    color: purple;
    text-transform: capitalize;
  }
  .userLabel {
    position:absolute;
    font-size: 16px;
    color: purple;
    font-weight: bold;
    text-transform: capitalize;
  }  
  li{
    display: inline-flex;
  }
</style>
<script src="https://d3js.org/d3.v5.min.js"></script>
