<section @fadeInAnimation>

  <h2 id="upcomingHeader" style="margin-bottom: 10px;font-size: 24px;" *ngIf="authService.isAuthenticated()"><b>Your Upcoming Invoices</b></h2>

  <ag-grid-angular
  *ngIf="authService.isAuthenticated()"
  style="width: auto; height: auto;"
  class="ag-theme-balham"
  [rowData]="rowData"
  [columnDefs]="columnDefs"

  (gridReady)="onGridReady($event)"
  ></ag-grid-angular>


  <h2 id="graphHeader" style="margin-bottom: 10px;margin-top: 10px;font-size: 24px;" *ngIf="authService.isAuthenticated()"><b>Personal Performance</b></h2>
  <h2 id="graphHeader2" style="margin-bottom: 10px;font-size: 24px;" *ngIf="!authService.isAuthenticated()"><b>Company Performance</b></h2>
  <body>
      <div id="main">
          <p class="label"></p>
          <svg id="chartsvg" width="700" height="500" style="border: 1px solid #777;">
          </svg>
      </div>
  </body>
  <style>
    .label {
      position:absolute;
      font-size: 16px;
      color: purple;
      text-transform: capitalize;
    }
  </style>
</section>
